/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
    background: #FFFEF8;

  }
  .push_body {
    margin-top: 3.2rem;
  }
  .edit_banner {
    background: black;
    height: 3.2rem;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    color: white;
    >.center {
      gap: 0.6rem;
    }
  }
.editor_modale {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(155, 155, 155, 0.6);
          //linear-gradient(#000, #9b9b9b), linear-gradient(45deg, #9b9b9b -5.2%, #9b9b9b 110.74%);
  //opacity: 60%;
  width: 100vw;
  height: 110vh;
  position: fixed;
  z-index: 1;
  //font-size: 5rem;

}

.modale {
  width: 39.4rem;
  min-height: 43rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  opacity: 100%;
  border-radius: 0.6rem;
  button {
    font-family: "Syne";
    border-radius: 25px;
    border: 2px solid #1D6154;
    background: #1D6154;
    height: 2.5rem;
    min-width: 16rem;
    width: fit-content;
    color: #ffffff;
    margin-bottom: 3.5rem;
    //margin-top: 2rem;
    padding: 0 0.7rem 0 0.7rem;
    font-weight: bold;
    font-size: 1rem;
  }
  .disabled {
    background: #B3B3B3;
    border: none;
  }
  .imgs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 67.5%;
    gap: 1.5rem 0.6rem ;
  }
  figure {
    position: relative;
    img {
      width: 4.8rem;
      object-fit: cover;
    }
    .fa-trash-can {
      font-size: 0.6rem;
      position: absolute;
      top: 0;
      right: 0;
      margin: 0.4rem 0.3rem;
      color: white;
      background: black;
      padding: 0.2rem 0.2rem;
      border-radius: 0.2rem;
    }
  }

  .br {
    width: 27rem;
    //border: 0.5px solid #B3B3B3;
    background: #B3B3B3;
    height: 1px;
    margin: 2.5rem 0;
  }
  #modaleRetourArriere {
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.1rem;
    margin: 1.5rem 2rem;
  }
}

#container_form {
  //margin: auto;
  > * {
    text-align: center;

  }
  h2{
    margin-bottom: 20px;
  }
  form {
    text-align: left;
    //margin-top:30px;
    display: flex;
    flex-direction: column;
    input[type=file] {
      width: 1px;
      visibility: hidden;
      display: none;
    }
    input[type=button] {
      width: 100%;
    }

    #inputUploadField {
      max-width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-evenly;
      height: 11rem;
      background: #E8F1F6;
      .fa-image {
        font-size: 4.5rem;
        color: #B9C5CC;
      }
      img {
        object-fit: cover;
        max-height: 11rem;
        max-width: 100%;
      }
      input[type=button] {
        max-width: 45%;
        padding: 0 2rem;
        border-radius: 1.25rem;
        height: 2.5rem;
        color: #306685;
        background: #B9C5CC;
      }
      p {
        color: #444444;
      }

    }

    #cofirmerUploadForm {
      margin: 0 auto;
    }
  }

  input, select {
    background: white;
    height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  }
  select {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
      background-image: url("/assets/angle-down-solid.svg");
    background-repeat: no-repeat;
    background-position: right ;
    background-size: .65em auto;
    background-origin: content-box;
    padding-right: 1rem;
  }
  .select:after {
    content: "\f0da";
    float: right;
    border: none;
    font-family: 'FontAwesome';
  }
  label {
    font-size: 1rem;
    margin: 2em 0 1em 0;
  }
  textarea {
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  }
}
h3 {
  //margin: 3rem 0;
  text-align: center;
  font-size: 1.6rem;
  font-family: Work Sans, serif;
  //margin: 3rem 0;
  margin-top: 3.5rem;
  margin-bottom: 2.4rem;

}

.fa-xmark {
  width: auto;
  position: absolute;
  top:0;
  right:0;
  font-size: 1.1rem;

  margin: 1.5rem 2rem;
}

  .photos {
    display: flex;
    margin: 2rem;
    width: auto;
  }

  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  /** end reset css**/
  body {
    margin:auto;
    font-family: 'Work Sans' ;
    font-size: 14px;
  }
  header {
    display: flex;
    justify-content: space-between;
    margin: 50px 0
  }
  header, main, nav ul {
    margin:auto;
    max-width: 1140px;

  }
  section {
    margin: 50px 0
  }
  a {
    text-decoration: none;
    color: black;
  }

  h1{
    display: flex;
    flex-direction: column;
    font-family: 'Syne';
    font-size: 22px;
    font-weight: 800;
    color: #B1663C;
    > span {
    font-family: 'Work Sans';
    font-size:10px;
    letter-spacing: 0.1em;
    }
  }

  h2{
    font-family: 'Syne';
    font-weight: 700;
    font-size: 30px;
    color: #1D6154
  }

  nav {
    ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    }
    li {
    padding: 0 10px;
    font-size: 1.2em;

    }
  }

  li:hover {
    color: #B1663C;
  }

  #introduction {
    display: flex;
    align-items: center;
    figure {
      flex: 1
    }
    img {
      display: block;
      margin: auto;
      width: 80%;
    }
    article {
      flex: 1
    }
    h2 {
      margin-bottom: 1em;
    }
    p {
      margin-bottom: 0.5em;
    }
  }

  .center-v {
    //position: relative;
    display: flex;
    //margin-left: 0;
  }

  .center {
    display: flex;
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    place-items: center;
    //vertical-align: center;
    //vertical-align: middle;
    //line-height: 100%;
    //margin: auto;
    //position: absolute;
    //left: 50%;
    //right: 50%;
    //transform: translate(-50%, -50%);
  }

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  order: -1;
  //grid-gap: 10px;
  //grid-auto-rows: minmax(100px, auto);
  width: fit-content;
}
.one {
  align-self: center;
  grid-column: 1/3;
  grid-row: 1;
}
.two {
  grid-column: 2/3;
  grid-row: 1 ;
  order: -1;

}
.three {
  grid-column: 3/3;
  grid-row: 1/3;
  order: -1;
  width: fit-content;
  align-self: center;
  padding-left: 1rem;
}
.four {
  grid-column: 3;
  grid-row: 3;
}
.five {
  grid-column: 2;
  grid-row: 4;
}
.six {
  grid-column: 3;
  grid-row: 4;
}


#portfolio {
    h2 {
      text-align: center;
      //margin-bottom: 1em;
    }
  }

  #visits_filter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8rem;
    gap: 1rem;
    button {
      font-family: "Syne";
      border-radius: 25px;
      border: 2px solid #1D6154;
      background: none;
      height: 2.5rem;
      min-width: 7rem;
      width: fit-content;
      color: #1D6154;
      margin-bottom: 1.5rem;
      margin-top: 2rem;
      padding: 0 0.7rem 0 0.7rem;
      font-weight:bold;
      font-size: 1rem;
      &:hover, &:active {
        background:  #1D6154;
        transition: opacity 400ms;
        color: white;
      }
    }
  }

  .gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    img {
      width: 100%;
    }
  }

  #contact {
    width: 50%;
    margin: auto;
    > * {
      text-align: center;

    }
    h2{
      margin-bottom: 20px;
    }
    form {
      text-align: left;
      margin-top:30px;
      display: flex;
      flex-direction: column;
    }
    input {
      height: 50px;
      font-size: 1.2em;
      border: none;
      box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    }
    label {
      margin: 2em 0 1em 0;
    }
    textarea {
      border: none;
      box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    }
  }

  input[type="submit"]{
    font-family: 'Syne';
    font-weight: 700;
    color: white;
    background-color: #1D6154;
    margin : 2em auto ;
    width: 180px;
    text-align: center;
    border-radius: 60px ;
  }

  footer {
    background: white;
    nav {
      ul {
        display: flex;
        justify-content: flex-end;
        background: white;
        padding: 2rem;
      }
    }
  }

